<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SFU Undergraduate Stats Visualized</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/SFU_Icon_v2.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>{{ title }}</h1>

    <div class="categories">
        <div class="split-dropdown">
            <button class="dropdown-main-button">
                {% if none_cat %} Select Category {% endif %}
                {% for key, value in categories.items() %}
                    {% if request.args.get("category") == key %}
                        {{ value.title }}
                    {% endif %}
                {% endfor %}
            </button>
            <button class="dropdown-toggle" onclick="toggleDropdown()">▾</button>
            <div class="dropdown-menu" id="category-dropdown">
                {% for key, value in categories.items() %}
                     {% if request.args.get("category") == key %}
                        <a id="active-category" href={{ value.query_url }}>{{ value.title }}</a>
                     {% else %}
                         <a href={{ value.query_url }}>{{ value.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="views">
            {% for key,value in categories.items() %}
                {% for button in value.buttons %}
                    {% if request.args.get("category") == key %}
                        {% if request.args.get("view") == button.stat_slug %}
                            <button onclick="location.href='{{ button.query_url }}'" id="active-view" type="button">{{ button.label }}</button>
                        {% else %}
                            <button onclick="location.href='{{ button.query_url }}'" type="button">{{ button.label }}</button>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    {% if graph_html %}
        <div>
            <form action="/">
                <input type="hidden" name="category" value="{{ request.args.get("category") }}">
                <input type="hidden" name="view" value="{{ request.args.get("view") }}">

                <input type="text" name="keyword" placeholder="Search..." value="{{ request.args.get("keyword", "") }}">
                <input class="submit" type="submit" value="Search">
            </form>
            <div class="graph-container">{{ graph_html | safe }}</div>
            <div class="graph-features-container">
                {% for feature, value in graph_features.items() %}
                    <p>{{ feature }}: {{ value }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <footer>
        <div>
        {% for button in buttons %}
            {% if button.query_url %}
                <a href="{{ button.query_url }}">
                    <button type="button" class="footer-btn">{{ button.label }}</button>
                </a>
            {% elif button.external_url %}
                <a href="{{ button.external_url }}" target="_blank">
                    <button type="button" class="footer-btn">{{ button.label }}</button>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    </footer>
</body>
</html>

<script>
    function toggleDropdown() {
        const menu = document.getElementById("category-dropdown");
        menu.style.display = menu.style.display === "block" ? "none" : "block";
    }

    document.addEventListener("click", (e) => {
    if (!e.target.closest(".split-dropdown")) {
        document.getElementById("category-dropdown").style.display = "none";
    }
    });
</script>
