<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SFU Stats Visualized</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>

    <div>
      {% for button in buttons %}
        {% if button.query_url %}
          <a href="{{ button.query_url }}">
            <button type="button">{{ button.label }}</button>
          </a>
        {% elif button.external_url %}
          <a href="{{ button.external_url }}" target="_blank">
            <button type="button">{{ button.label }}</button>
          </a>
        {% endif %}
      {% endfor %}
    </div>

    {% if graph_html %}
      <div>{{ graph_html | safe }}</div>
    {% endif %}
</body>
</html>
